@media screen and (max-width:768px) {
    header{
        grid-template-columns: 90% 10%;
    }
    header h2{
        margin-left: 1rem;
    }
    header ul{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        /* width: 100vw; */
        visibility: hidden;
    }
    header ul li{
        height: 1.8rem;
    }
    header nav{
        margin-left: 1rem;
    }
    header i{
        visibility: visible;
    }
}