* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color:#191f36;
    --text-color1:#FFFFFF;
    --text-color2:#59B2F4;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color1);
}

a{
    color: var(--text-color1);
}

/* Header */
header{
    display: grid;
    grid-template-columns: 55% 5% 40% ;
    align-items: center;
    /* border: 1px solid; */
    height: 4rem;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 2;
}
header h2{
    margin-left: 5rem;
    font-size: 2rem;
}
header ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
header ul li a{
    font-size: 1.2rem;
}
header i{
    cursor: pointer;
    visibility: hidden;
}

/* Main */
#introduction{
    margin: 35vh 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
#introduction div:first-child h1{
    font-size: 3rem;
}
#introduction div:first-child h1,h2,p{
   margin-top: 1rem;
}
#introduction div:nth-child(2){
   display: flex;
   justify-content: center;
   /* border: 2px solid; */
}
#introduction img{
    width: 18rem;
    height: 18rem;
    clip-path: circle(50%);
}