* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color1: #191f36;
    --bg-color2: #262B40;
    --text-color1: #FFFFFF;
    --text-color2: #59B2F4;
    --text-color3: #000000;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

body {
    background-color: var(--bg-color1);
    color: var(--text-color1);
    font-family: Nunito;
}

a {
    color: var(--text-color1);
}

/* ---------- Header Start --------- */
header {
    display: grid;
    grid-template-columns: 55% 5% 40%;
    align-items: center;
    /* border: 1px solid; */
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--bg-color1);
}

header h2 {
    margin-left: 5rem;
    font-size: 2rem;
}

header ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

header ul a {
    font-size: 1.1rem;
}

header ul a:hover {
    color: var(--text-color2);
}

header i {
    cursor: pointer;
    visibility: hidden;
    width: 20%;
}

/* ---------- Header End --------- */




/*  -------------------- Main --------------------  */

/* ---- Introduction Start ---- */
#introduction {
    margin: 35vh 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

#introduction div:first-child h1 {
    font-size: 3rem;
}

#introduction div:first-child h1,
h2,
p,
#icons,
button {
    margin-top: 1rem;
}

#introduction span {
    color: var(--text-color2);
}

#introduction div:nth-child(2) {
    display: flex;
    justify-content: center;
    /* border: 2px solid; */
}

#introduction img {
    width: 18rem;
    height: 18rem;
    clip-path: circle(50%);
}

#icons i {
    border: 2px solid;
    padding: 5px;
    border-radius: 50%;
    color: var(--text-color2);
}

#icons i:hover {
    background-color: var(--text-color2);
    color: var(--text-color3);
}

#icons a:nth-child(2),
a:nth-child(3),
a:nth-child(4) {
    margin-left: 20px;
}

.button {
    margin-top: 1.5rem;
    padding: 10px 9px 9px 9px;
    border-radius: 50px;
    border: 0px solid;
    cursor: pointer;
    background-color: var(--text-color2);
    box-shadow: 0px 0px 12px var(--text-color2);
    font-weight: bold;
    font-family: Nunito;
}

.button:hover {
    box-shadow: 0px 0px 0px var(--text-color2);
}

/* ---- Introduction End ---- */

/* About Start */
#about{
    display: grid;
    grid-template-columns: 40% 60%;
    /* margin: 2rem 6rem ;  */
    align-items: center;
    background-color: var(--bg-color2);
    height: 100vh;
    /* border: 1px solid; */
}
#about div:first-child{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
#img-container{
    /* width: 15rem; */
    height:20rem;
    border: 7px double var(--text-color2);
    border-radius: 10px;
    /* background-color:goldenrod */
}
#about img{
    width: 100%;
    height:100%;
}
#about div:nth-child(2) h2{
    font-size: 2rem;
}
/* About End */