* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color1: #191f36;
    --bg-color2: #262B40;
    --text-color1: #FFFFFF;
    --text-color2: #59B2F4;
    --text-color3: #000000;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

/* html { height: 100%; overflow:auto; } */

body {
    background-color: var(--bg-color1);
    color: var(--text-color1);
    font-family: Nunito;
    /* height: 100% */
}

a {
    color: var(--text-color1);
}

/* ---------- Header Start --------- */
header {
    display: grid;
    grid-template-columns: 55% 5% 40%;
    align-items: center;
    /* border: 1px solid red; */
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--bg-color1);
}

header h2 {
    margin-left: 10rem;
    font-size: 2rem;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    font-size: 1.1rem;
    cursor: pointer;
}

header ul a:hover {
    color: var(--text-color2);
}

header i {
    cursor: pointer;
    visibility: hidden;
    width: 60%;
    font-size: x-large;
}

/* ---------- Header End --------- */



/* .......... Main .......... */



/* ------ Introduction Start ------ */
#introduction {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center;
}

#introduction div:first-child {
    margin-left: 10rem;
}

#introduction h1 {
    font-size: 3rem;
    margin: 0.5rem 0rem;
}

#icons,
#introduction button {
    margin-top: 2rem;
}

#introduction span {
    color: var(--text-color2);
}

#introduction div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 0rem 14.5rem;
}

#introduction img {
    width: 18rem;
    height: 18rem;
    clip-path: circle(50%);
}

#icons i {
    border: 2px solid;
    padding: 5px;
    border-radius: 50%;
    color: var(--text-color2);
}

#icons i:hover {
    background-color: var(--text-color2);
    color: var(--text-color3);
}

#icons a:nth-child(2),
a:nth-child(3),
a:nth-child(4) {
    margin-left: 20px;
}


.button {
    margin-top: 1.5rem;
    padding: 10px 9px 9px 9px;
    border-radius: 50px;
    border: 0px solid;
    cursor: pointer;
    background-color: var(--text-color2);
    box-shadow: 0px 0px 12px var(--text-color2);
    font-weight: bold;
    font-family: Nunito;
}

.button:hover {
    box-shadow: 0px 0px 0px var(--text-color2);
}

/* ----------------------------------- */
#typing {
    display: flex;
    align-items: center;
}

.write {
    display: flex;
    margin-left: 0.5rem;
}

.erase {
    width: 0px;
    max-width: max-content;
    white-space: nowrap;
    border-right: .05rem solid var(--text-color2);
    overflow: hidden;
    animation:
        4s typing-erase 4s steps(50, end) infinite,
        blink-caret .5s step-end infinite;
}

@keyframes typing-erase {
    0% {
        width: 0
    }
    80% {
        width: 100%
    }
    90%,
    100% {
        width: 0
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: gray
    }
}

/* ----------------------------------- */


/* ------ Introduction End ------ */


/* ------ About Start ------ */
#about {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color: var(--bg-color2);
    height: 100vh;
}

#about span {
    color: var(--text-color2);
}

#about div:first-child {
    display: flex;
    justify-content: start;
    margin-left: 10rem;
    margin-right: 8rem;
    /* width: 20rem; */
    height: 20rem;
    padding: 0.1rem;
    position: relative;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

/* Animation */
#about div:first-child::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 35rem;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
}

#about div:first-child::after {
    content: '';
    position: absolute;
    background: var(--bg-color1);
    inset: 3px;
    border-radius: 17px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

#about img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#about div:nth-child(2) {
    margin-right: 6rem;
}

#about h2 {
    font-size: 2rem;
}
#about p{
    font-size: 1.2rem;
}

/* ------ About End ------ */


/* ------ services Start ------ */
#services {
    width: 100%;
    height: 100vh;
}

#services h2 {
    margin: 5rem 10rem
}

#services span {
    color: var(--text-color2);
}

#services>div {
    display: flex;
    gap: 2rem;
    margin: 5rem 10rem;
}

.service {
    width: 25rem;
    height: 22rem;
    border-radius: 10px;
    background-color: var(--bg-color2);
    text-align: center;
    padding: 2rem;
}

.service:hover {
    border: 2px solid var(--text-color2);
}

.service i {
    font-size: 3rem;
    color: var(--text-color2);
}

.service h3,
p {
    margin-top: 1.5rem;
}

.service button {
    margin-top: 2rem;
}

/* ------ services End ------ */


/* ------ Project  Start ------ */
#myproject {
    background-color: var(--bg-color2);
    border: 1px solid var(--bg-color2);
    height: 100vh;
}

#myproject>div {
    display: flex;
    gap: 1.5rem;
    margin: 6rem 10rem;
}

#myproject>h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
}

#myproject span {
    color: var(--text-color2);
}

.project1,
.project2 {
    width: 50rem;
    height: 22rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--bg-color1);
    padding: 0.5rem;
    position: relative;
}

#myproject img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.over1,
.over2 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    opacity: 0;
    background: linear-gradient(var(--text-color1), var(--text-color2));
    transition: opacity 0.5s linear;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.content {
    color: var(--text-color3);
    text-align: center;

}

.content i {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 1rem;
}

.project1:hover .over1 {
    opacity: 0.8;
}

.project2:hover .over2 {
    opacity: 0.7;
}

/* ------ Project  End ------ */


/* ------ Contect Me Section Start ------ */
#contectme {
    background-color: var(--bg-color1);
    height: 100vh;
    text-align: center;
}

#contectme>h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

#contectme span {
    color: var(--text-color2);
}

.inputCollection {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    margin:3rem 18rem 0rem 18rem ;
    padding: 2rem;
}

.inputCollection input,.inputCollection textarea{
    color: var(--text-color1);
    outline: 0px;
    border: 0px;
    padding: 1rem;
    background-color: var(--bg-color2);
    box-shadow: 0px 0px 5px var(--bg-color2);
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--text-color2);
}
textarea{
    height: 15rem;
    grid-column: 1/span 2;
}
/* ------ Contect Me Section End ------ */

footer{
    height: 3rem;
    background-color: var(--bg-color2);
    text-align: center;
    line-height: 3rem;
}